timer => 30,               (positive value)

spaces => 1,               (1, 2)

show_cursor => 0,          (0, 1)

blank_lines => 2,          (1, 2, 3)

word_quantity => 10,       (number between 1 and 12)

centered_words => 1,       (0, 1)

start_of_line => 'fixed',  ('fixed', 'centered')
