timer            => 30,    (positive value)

spaces           => 1,     (1, 2)

show_cursor      => 0,     (0, 1)

line_breaks      => 2,     (1, 2, 3)

menu_line_breaks => 2,     (1, 2, 3)

word_quantity    => 10,    (number between 1 and 12)

centered_words   => 1,     (0, 1)

start_line_fixed => 1,     (0, 1)
